<section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <div class = "blue-header">
                <p>SAY HELLO </p>
            </div>
              <div class = "lead">
                <p>I'd love to hear from you!</p>
                <p>If you'd like to learn more about a project, have any questions, or just want to say hi, feel free to reach out.</p>
            </div>
                <hr class="intro-divider">
                <ul style = "margin-left:15%;" class="list-inline intro-social-buttons">
                  <li>
                    <a href="mailto:mlou2019@gmail.com" class="btn btn-default btn-lg"><span class="network-name">Email</span></a>
                  </li>
                  
                  <li>
                    <a href="https://www.linkedin.com/in/maggie-lou-4a3bb110a" class="btn btn-default btn-lg"><span class="network-name">LinkedIn</span></a>
                  </li>

                  <li>
                    <a href="https://www.facebook.com/maggie.lou.7" class="btn btn-default btn-lg"><span class="network-name">Facebook</span></a>
                  </li>

                  <li>
                    <a href="https://www.instagram.com/magpie13665" class="btn btn-default btn-lg"><span class="network-name">Instagram</span></a>
                  </li>

                  <span style = "font-family: sans-serif; font-weight: 300; letter-spacing: 1px; color: rgb(0, 145, 195);"><- shameless millenial </span>
                  
                </ul>

              </br> 
              </br>
              </br>

              </div>
        </div>
    </section>