<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">HOME</a>
                    </li>
                    <li class="footer-menu-divider" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">&sdot;</li>
                    <li>
                        <a href="#about" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">ABOUT</a>
                    </li>
                    <li class="footer-menu-divider" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">&sdot;</li>
                    <li>
                        <a href="#services" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">PORTFOLIO</a>
                    </li>
                    <li class="footer-menu-divider" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">&sdot;</li>
                    <li>
                        <a href="#contact" style = "font-family: Ostrich Sans Medium,'Open Sans Condensed', sans-serif;; letter-spacing: 3px; color: rgb(0,145,196); font-weight: 600; font-size: 22px; height: 0px;" class="navbar-brand page-scroll">CONTACT</a>
                    </li>
                </ul>
                <p class="copyright text-muted small" style = "padding-left: 12px;">Copyright &copy; 2016 Maggie Lou. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
